NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME="مستر عبدالرحمن الأسيوطي"
FAWRY_MERCHANT_ID=
FAWRY_SECRET_KEY=
FAWRY_BASE_URL=https://atfawry.fawrystaging.com
AUTH_SECRET=
